<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/styles.css" />
		<link rel="stylesheet" href="static/form.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="header">
			<a href="/">Inicio</a>
			<h2>Agregar producto</h2>
		</div>
		<div class="section">
			<form method="POST">
				<input type="hidden" name="id" value="{{ next_id }}" />
				<label for="nombre">Nombre <input type="text" name="nombre" /></label>
				<label for="precio">Precio <input type="number" name="precio" /></label>
				<label for="cantidad"
					>Cantidad <input type="number" name="cantidad"
				/></label>
				<label for="categoria"
					>Categoría <input type="text" name="categoria"
				/></label>
				<label for="imagen">Imagen <input type="text" name="imagen" /></label>
			</form>
		</div>
	</body>
</html>
