<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/styles.css" />
		<link rel="stylesheet" href="../static/delete.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<a href="/">❌</a>
			<h2>Eliminar</h2>
		</header>
		<main>
			<div class="section">
				<div class="info__container">
					<div class="info__container--campo">
						<b>ID</b><span> {{ product.id }}</span>
					</div>
					<div class="info__container--campo">
						<b>Nombre</b><span> {{ product.nombre }}</span>
					</div>
					<div class="info__container--campo">
						<b>Precio</b><span> {{ product.precio }}</span>
					</div>
					<div class="info__container--campo">
						<b>Cantidad</b><span> {{ product.cantidad }}</span>
					</div>
					<div class="info__container--campo">
						<b>Categoría</b><span> {{ product.categoria }}</span>
					</div>
					<img
						src="{{ product.imagen }}"
						alt="Imagen del producto {{ product.imagen }}"
					/>
					<div class="delete__opciones">
						<h4>¿Deseas eliminar este producto?</h4>
						<div class="btnopciones">
							<form method="POST">
								<button>Eliminar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
