<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/styles.css" />
	</head>
	<body>
		<div class="header">
			<h2>{{ page_info["TITULO"]}}</h2>
		</div>
		<!-- <div class="options">
			<h3>Filtrar</h3>
		</div> -->
		<div class="subtitle">
			<h3 class="">Productos</h3>
			<a href="/add">Agregar producto</a>
		</div>
		<ul class="products">
			{% for product in products %}
			<li class="products__item">
				<div class="item__information">
					<div class="item__image">
						<img
							src="{{ product.imagen }}"
							alt="Imagen del producto {{ product.nombre }}"
						/>
					</div>
					<div class="item__information-text">
						<h4>{{ product.nombre }}</h4>
						<ul>
							<li><b>Precio</b> <span>{{ product.precio }}</span></li>
							<li><b>Cantidad</b> <span>{{ product.cantidad }}</span></li>
							<li><b>Categoria</b> <span>{{ product.categoria }}</span></li>
						</ul>
					</div>
					<div class="item__buttons">
						<a href="/{{ product.id }}/update">Editar</a>
						<a href="/{{ product.id }}/delete">Eliminar</a>
					</div>
					{% if not is_available(product.id) %}
					<span class="not_available">No disponible</span>
					{% endif %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>
